= will_paginate @entries
%ul
  - @entries.each do |entry|
    %li
      = link_to entry.name, entry.url
      %small
        = entry.published_at
        (from #{link_to entry.feed.name, entry.feed.url.html_safe})
= will_paginate @entries
