<% title "Feeds" %>

<table>
  <tr>
    <th>Url</th>
  </tr>
  <% for feed in @feeds %>
    <tr>
      <td><%=h feed.url %></td>
      <td><%= link_to "Show", feed %></td>
      <td><%= link_to "Edit", edit_feed_path(feed) %></td>
      <td><%= link_to "Destroy", feed, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Feed", new_feed_path %></p>
