%h1
  Post a Message
- form_for(@article) do |f|
  %fieldset
    = f.error_messages
    %div
      = f.label :name, "Name"
      %br
      = f.text_field :name
    %div
      = f.label :email, "Email"
      %br
      = f.text_field :email
    - if @article.reply?
      %div
        = f.hidden_field :to
        = f.hidden_field :parent_id
        = f.hidden_field :parent_msgid
        = f.label :reply_type, "Reply To:"
        %br
        = f.select :reply_type, [['List only', 'list'], ['Sender only', 'sender'], ['Both', 'both']]
    %div
      = f.label :subject, "Subject"
      %br
      = f.text_field :subject
    %div{:style => "display:none;"}
      = f.label :body, "Message:"
      %br
      = f.text_area :body, :rows => 30, :cols => 60
    %div
      = f.label :qt, "Message:"
      %br
      = f.text_area :qt, :rows => 30, :cols => 60
    %div
      = submit_tag "Post", :disable_with=>"Sending..."
