#article
  %h1= @article.subject
  #header
    - if current_user
      #star
        - if @article.saved_by?(current_user)
          %a.save_this{href: "javascript:void(0);"} Message saved
        - else
          %a.save_this{href: "javascript:void(0);"} Save this message
        %a.star{:href => "javascript:void(0);", :class => show_star(@article)}
        %img{:src => "/images/spinner.gif", :style => "display:none;" }
      .tooltip
    - if @article.recent?
      #reply_to
        = link_to "Reply to this message", article_reply_path(@article), :id => "reply"
    %ul#headers
      %li#from
        From:
        = from_linked(@article)
      %li#date
        Date:
        = @article.sent_at_human
        = "(#{time_ago_in_words(@article.sent_at)} ago)"
  #body
    = profile_picture_linked(@article.user) if @article.user
    = to_html @article.body_utf8
    - if @conversation_roots
      %div.thread
        %h2 Articles in this thread
        %ul.conversation
          = thread_as_html(@conversation_roots).html_safe

:javascript
  initStar();
