#header
  = profile_picture_linked(@article.user) if @article.user
  - if @article.recent?
    = link_to "Reply to this message", article_reply_path(@article), :id => "reply"
  %ul
    %li#from
      From:
      = from_linked(@article)
    %li#date
      Date:
      = @article.sent_at.to_s(:article)
      = "(#{time_ago_in_words(@article.sent_at)} ago)"
#body
  = @article.body_utf8
  - if @conversation_roots
    %div.thread
      %h2 Articles in this thread
      %ul.conversation
        = thread_as_html(@conversation_roots)
