#header
  - if current_user
    #star
      %a{:href => "javascript:void(0);", :class => show_star(@article)}
      %img{:src => "/images/spinner.gif", :style => "display:none;" }
  - if @article.recent?
    = link_to "Reply to this message", article_reply_path(@article), :id => "reply"
  %ul
    %li#from
      From:
      = from_linked(@article)
    %li#date
      Date:
      = @article.sent_at_human
      = "(#{time_ago_in_words(@article.sent_at)} ago)"
#body
  = profile_picture_linked(@article.user) if @article.user
  = to_html @article.body_utf8
  - if @conversation_roots
    %div.thread
      %h2 Articles in this thread
      %ul.conversation
        = thread_as_html(@conversation_roots)

:javascript
  $("#star a").click( function() {
    var star = $(this);
    var spinner = star.parent().find("img");
    var ajaxDone = function() { spinner.hide(); star.show(); };
    var saved = false;

    star.toggleClass("selected");
    if (star.hasClass("selected")) {
      saved = true;
    }
    star.hide(); spinner.show();
    $.ajax({
      type: "POST",
      url: document.location.href + "/saved",
      data: { saved: saved },
      success: ajaxDone,
      error: ajaxDone
    });
  } );
