%h1 Change your password

- form_for :password_change, :url => { :action => 'save_password' } do |f|
  = f.error_messages
  %p
    = f.label :old_password
    %br/
    = f.password_field :old_password
  %p
    = f.label :new_password
    %br/
    = f.password_field :new_password
  %p
    = f.label :new_password_confirmation
    %br/
    = f.password_field :new_password_confirmation

  %p
    =f.submit "Submit"
