%h2 Users

= link_to("Add User", new_user_path)

%p
  = "#{@users.size} users."
  Users in red are moderated.
  = link_to "Mailman", 'http://www.bcmets.org/mailman/admin/bcmets/members'

%table#users.admin
  %thead
    %tr
      %th User
      %th Joined
      %th Delivery
  %tbody
    - for user in @users do
      %tr{:class => [cycle('admin-odd', 'admin-even'), user.moderated ? ' moderated' : nil]}
        %td=h "#{user.name} <#{user.email}>"
        %td= user.created_at.to_date.to_s(:db)
        %td= user.email_delivery
        %td
          = link_to 'V', :controller => user_profile_path(user)
          = link_to 'E', edit_user_path(user)
          = link_to 'D', user, :data => { :confirm => 'Sure?' }, :method => :delete
          = link_to 'M', "http://www.bcmets.org/mailman/admin/bcmets/members?findmember=#{user.email}"
