%h1= @user.name

#profile
  #picture
    = gravatar_for @user, :default => 'identicon', :size => 128
  #info
    %strong Registered User
    %br/
    Member for
    %strong= time_ago_in_words(@user.created_at)
    %br/
    - if @user.location
      Location:
      %strong= @user.location

%br/

- unless @articles.empty?
  #history
    %h2 Posting History
    %ul.bydate
      - @articles.each do |article|
        %li
          = link_to_article article
          %small
            = article.sent_at
