%h2 Reset your Password

%p Enter a new password below.

- form_for(:user, :url => activate_path(@user), :html => { :method => :post }) do |f|
  = f.error_messages
  %p
    = f.label :password
    %br/
    = f.password_field :password
    
  %p
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation

  %p
    = f.submit "Save"