- if @article.recent?
  = link_to "Reply to the list", article_reply_path(@article), :id => "reply"
#header
  %ul
    %li#from
      From:
      = from_linked(@article)
    %li#date
      Date:
      = @article.sent_at.strftime("%B %d, %Y, %H:%M:%S")
      = "(#{time_ago_in_words(@article.sent_at)} ago)"
#body
  = to_html @article.body
