%h1
  = @email
%p
  - if @pagination
    Showing articles
    = @articles.offset + 1
    to
    = @articles.offset + @articles.per_page
    out of
    = @articles.total_entries
    = "(" + link_to("Show All", params.merge(:page => "all")) + ")"
  - else
    = @articles.size
    articles

%ul.bydate
  - @articles.each do |article|
    %li
      = link_to_article article
      %small
        = article.sent_at_human

- if @pagination
  = will_paginate(@articles)
