%h1
  = @author.email
%p
  - if @pagination
    Showing
    = @articles.size
    out of
    = @articles.total_entries
    articles.
    = "(" + link_to("Show All", params.merge(:page => "all")) + ")"
  - else
    = @articles.size
    articles

%ul.bydate
  - @articles.each do |article|
    %li
      = link_to_article article
      %small
        = article.sent_at_human

- if @pagination
  = will_paginate(@articles)
