%h1
  = @email
- if @pagination
  %p
    Showing articles
    = @articles.offset + 1
    to
    = @articles.offset + @articles.per_page
    out of
    = @articles.total_entries
    \-
    = link_to("Show All", params.merge(:page => "all"))
  = will_paginate(@articles)
- else
  %p
    = @articles.size
    articles

%ul.bydate
  - @articles.each do |article|
    %li
      = link_to_article(article).html_safe
      %smalj
        = article.sent_at_human

- if @pagination
  = will_paginate(@articles)
