<p><%= link_to "Post a message to the list", :controller => "archive", :action => "post" %></p>
<% for year in @year.downto(2001) -%>
  <hr/>
	<h2><%= year %></h2>
	<table class="index">
		<tbody>
			<tr>
				<td><%= month_link(year, 1) %></td>
				<td><%= month_link(year, 2) %></td>
				<td><%= month_link(year, 3) %></td>
				<td><%= month_link(year, 4) %></td>
			</tr>
			<tr>
				<td><%= month_link(year, 5) %></td>
				<td><%= month_link(year, 6) %></td>
				<td><%= month_link(year, 7) %></td>
				<td><%= month_link(year, 8) %></td>
			</tr>
			<tr>
				<td><%= month_link(year, 9) %></td>
				<td><%= month_link(year, 10) %></td>
				<td><%= month_link(year, 11) %></td>
				<td><%= month_link(year, 12) %></td>
			</tr>
		</tbody>
	</table>
<% end -%>
