<h1>Post a Message</h1>
<% form_for :article,
		:url => { :action => "post" },
		:html => { :id => "post_form" } do |f| %>
	<fieldset>		
		<%= f.error_messages %>
		
		<div>
			<%= f.label :name, "Name" %><br/>
			<%= f.text_field :name %>
		</div>
		<div>
			<%= f.label :email, "Email" %><br/>
			<%= f.text_field :email %>
		</div>
		<% if @article.reply? -%>
			<div>
				<%= f.hidden_field :to %>
				<%= f.hidden_field :parent_id %>
				<%= f.hidden_field :parent_msgid %>
				<%= f.label :reply_type, "Reply To:" %><br/>
				<%= f.select :reply_type, ['List only', 'Sender only', 'Both'] %>
			</div>
		<% end -%>
		<div>
			<%= f.label :subject, "Subject" %><br/>
			<%= f.text_field :subject %>
		</div>
		<div>
			<%= f.label :body, "Message:" %><br/>
			<%= f.text_area :body, :rows => 30, :cols => 70 %>
		</div>
		<div>
			<%= submit_tag "Post" %>
		</div>
	</fieldset>
<% end %>