%h2
  Search results for
  = @search.query
%p.sortby
  Sorted by
  = "#{@search.sorting_by}."
  = link_to("Sort by #{@search.switch_sort}", @search.switch_url)
%p.resultcount
  Showing
  = @search.articles_count
  out of
  = pluralize(@search.total_count, "result")

= will_paginate @search.articles
%ul.search_results
  - for article in @search.articles
    %li
      = link_to_article(article)
      %small
        = link_to_author(article)
        ,
        = article.received_at.to_date.strftime("%b %d %Y")
= will_paginate @search.articles
