%h2
  Search results for
  = @q
%p.sortby
  Sorted by
  = "#{@sorting_by}."
  = link_to("Sort by #{@switch_sort}", @switch_url)
%p.resultcount
  Showing
  = @articles.count
  out of
  = pluralize(@total_count, "result")

= will_paginate @articles
%ul.search_results
  - for article in @articles
    %li
      = link_to_article(article)
      %small
        = link_to_author(article)
        ,
        = article.received_at.to_date.strftime("%b %d %Y")
= will_paginate @articles
