%h2
  Search results for
  = @q
%p.minimize
  Sorted by
  = "#{@sorting_by}."
  = link_to("Sort by #{@switch_sort}", @switch_url)

= will_paginate @articles
%ul
  - for article in @articles
    %li
      = link_to_article(article)
      %small
        = link_to_author(article)
        ,
        = article.received_at.to_date.strftime("%b %d %Y")
= will_paginate @articles
