<h1>Login to bcmets.org</h1>

<%= form_for(@user_session, html: { class: "signin" }) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :email %><br />
    <%= f.email_field :email, placeholder: "Your email address", autofocus: true %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password, placeholder: "Your bcmets.org password" %>
  </p>
  <p>
    <button class="submit">Sign In</button>
  </p>
<% end %>

<%= link_to "Forgot your password?", forgot_password_path %>

<script type="text/javascript" charset="utf-8">
  signinForm();
</script>
