<h1>Login</h1>

Enter your username and password below.

<% form_for(@user_session) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.submit 'Login' %>
  </p>
<% end %>

<%= link_to "Forgot your password?", forgot_password_path %>

<script type="text/javascript" charset="utf-8">
  $('#user_session_email').select();
</script>