!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en" }
  %head
    %title BCMets.org - #{@title || "Metastatic Breast Cancer"}
    - if not @indexable
      %meta{ :name => "robots", :content => "noindex, nofollow" }
    %meta{http: { equiv: "Content-type" }, content: "text/html;charset=UTF-8"}
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    = stylesheet_link_tag "application"
    = javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/immutable/3.6.4/immutable.min.js"
    = javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.0.5/es5-shim.min.js"
    = javascript_include_tag "application"
    %link{:href => "/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}/
    %link{:href => "/apple-touch-icon.png", :rel => "apple-touch-icon"}/
    %link{:href => "/apple-touch-icon-57x57.png", :rel => "apple-touch-icon", :sizes => "57x57"}/
    %link{:href => "/apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}/
    %link{:href => "/apple-touch-icon-76x76.png", :rel => "apple-touch-icon", :sizes => "76x76"}/
    %link{:href => "/apple-touch-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}/
    %link{:href => "/apple-touch-icon-120x120.png", :rel => "apple-touch-icon", :sizes => "120x120"}/
    %link{:href => "/apple-touch-icon-144x144.png", :rel => "apple-touch-icon", :sizes => "144x144"}/
    %link{:href => "/apple-touch-icon-152x152.png", :rel => "apple-touch-icon", :sizes => "152x152"}/
    = yield(:head)
  %body{class: wide_page? && "wide"}
    #wrap
      #usernav
        - if current_user
          Logged in as
          = current_user.name
          |
          = link_to("Options", user_path(:current))
          |
          - if current_user.admin?
            = link_to('Admin', '/admin')
            |
          = link_to('Logout', logout_path)
      #pageheader
        #banner
          %a{ :href => "/" }
            =image_tag "bcmets-header.png", class: "hires"
            =image_tag "bcmets480.png", class: "lores"
      #middle
        #searchform
          = form_tag({ :controller => 'archive', :action => 'search' }, :method => 'get') do
            %fieldset
              = text_field_tag :q, params[:q], :size => 10, placeholder: "Search bcmets.org"
              %button Go
        #main
          - if flash[:notice]
            #notice
              = flash[:notice]
              - if flash[:links]
                %p From here you can go to:
                %ul
                - for text, url in flash[:links]
                  %li
                    = link_to(text, url)
          #content
            = yield
        #sidebar
          %h3 Links
          #links
            %ul
              - if !current_user
                %li
                  %strong
                    = link_to('Join bcmets', new_user_path)
                %li
                  = link_to('Login', login_path)
              - for link in all_links
                %li
                  = link_to link.title, link.url
                  - if link.text
                    = link.text
              - if current_user
                %li
                  %a{ :href => "/saved" }
                    View saved messages
              %li
                %a{ :href => "/post" }
                  Post a new message

          %h3 Latest Blog Entries
          %ul.blogs
            - blog_entries.each do |entry|
              %li
                = link_to entry.name, entry.url
                %small
                  = "(from #{link_to entry.feed.name, entry.feed.url})".html_safe
            = link_to "More »", feed_entries_path

          %h3 Donations
          %ul
            %li
              = last_donation
            %li
              = donations_this_month
            %li
              = donations_this_year
            %li
              Please
              %a{ :href => "/donate" }
                donate
              to help keep this service running.

      #footer
        %p
          This archive is owned and operated by
          = link_to "Pete Bevin", "http://www.petebevin.com"
          \. Please read the
          = link_to "disclaimer", "/pages/disclaimer"
          and
          = link_to "privacy policy", "/pages/privacy"
          \.
          %a{ :href => "http://validator.w3.org/check/referer" }
            %small
              [Validate HTML]


    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    try{
    var pageTracker = _gat._getTracker("UA-693624-2");
    pageTracker._trackPageview();
    } catch(err) {}
    </script>
