!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en" }
  %head
    %title
      BCMets.org - Metastatic Breast Cancer
    %meta{ :name => "robots", :content => "noindex, nofollow" }
    %meta{"http-equiv" => "Content-type", :content => "text/html;charset=UTF-8"}
    = javascript_include_tag :all, :cache => true
    = stylesheet_link_tag "bcmets", "forms", :cache => true
    -#= stylesheet_link_tag "blueprint/screen", :media => "screen, projection"
    -#= stylesheet_link_tag "blueprint/print", :media => "print"
    -#/ [if ie]
      -#= stylesheet_link_tag "blueprint/ie", :media => "screen, projection"
    -#= stylesheet_link_tag "type"
    -#= stylesheet_link_tag "colour"
    -#= stylesheet_link_tag "layout"
  %body
    #wrap
      #pageheader
        #banner
          %a{ :href => "/" }
            %img{ :src => "/images/bcmets-header.png", :height => "120", :alt => "home page", :width => "950" }
        #searchform
          - form_tag({ :controller => 'archive', :action => 'search' }, :method => 'get') do
            %fieldset
              = text_field_tag :q, params[:q], :size => 10
              = submit_tag "Search"
      #main
        %h1
          = @title
        - if flash[:notice]
          #notice
            = flash[:notice]
            - if flash[:links]
              %p From here you can go to:
              %ul
              - for text, url in flash[:links]
                %li
                  = link_to(text, url) 
        = yield
      #sidebar
        %h3 Links
        %ul
          %li
            %a{ :href => "http://www.bcmets.org/mailman/listinfo/bcmets" }
              %strong
                Join bcmets
          %li
            %a{ :href => "/pages/howto" }
              How to use the list
          %li
            %a{ :href => "http://darkwing.uoregon.edu/%7Ejbonine/abbrevs.html" }
              Abbreviation list
          %li
            %a{ :href => "http://www.brainmetsbc.org/" }
              BrainMetsBC.org
          %li
            %a{ :href => "http://www.picturetrail.com/sfx/album/listing/user/bcbeauties" }
              Picture Trail
            (login: bcbeauties/bcmets)
          %li
            %a{ :href => "/archive/article/3315" }
              Where we live
          %li
            %a{ :href => "http://advancedbc.org/content/pams-list-helpful-products-and-remedies"}
              Pam's List
        
        %h3 Donations
        %ul
          %li
            = last_donation
          %li
            = donations_this_month
          %li
            = donations_this_year
          %li
            Please
            %a{ :href => "/donate" }
              donate
            to help keep this service running.

        %h3 Information
        %ul
          %li
            Archive provided by
            %a{ :href => "http://www.petebevin.com/" }
              Pete Bevin
            \.
          %li
            %a{ :href => "mailto:pete@petebevin.com" }
              Email Pete
            to report problems, or if you want the raw archive files.
      #footer
        %p
          This archive is owned and operated by
          = link_to "Pete Bevin", "http://www.petebevin.com"
          \. Please read the
          = link_to "disclaimer", "/pages/disclaimer"
          and
          = link_to "privacy policy", "/pages/privacy"
          \.
          %a{ :href => "http://validator.w3.org/check/referer" }
            %small
              [Validate HTML]
    :javascript
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      try {
        var pageTracker = _gat._getTracker("UA-393335-18");
        pageTracker._trackPageview();
      } catch(err) {}
              